@import "../../css/variables.css";

.App {
  text-align: center;
}

.App-logo {
  height: 125px;
}

.App-header {
  background-color: var(--header);
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  margin: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Playfair Display', serif;
}
